<<<<<<< HEAD
.topbar {
    background: black;
    height: 90px;
    position: fixed;
    top: 0px;
    width: 100%;
}
.cont {
    width: 100px;
    height: auto;
    padding-left: 300px;
    position: absolute;
}
.cont a {
    text-decoration: none;
    color: white;
}

nav {
    padding-top: 25px;
    padding-right: 200px;
    float: right;
    color: white;
}
nav a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.contact {
  margin-top: 90px;
text-align: center;
}
body {
  background: linear-gradient(-90deg, rgb(76, 236, 20), rgb(8, 233, 139));

}
.contact {
  text-transform: uppercase;
  padding-top: 50px;

}
.contact h2 {
  padding-top: 20px;
  padding-bottom: 50px;
}
.icons {
  display: inline-flex;
  margin: ;
  width: 100%;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
}
.icon-wrapper {
  width: 33.33%;
  color: rgb(247, 239, 235);
  text-align: center;

}
.plic {
  border: 2px solid yellow;
  padding: 50px;
  border-radius: 50%;
}

.mobile
  {
    border: 2px solid red;
    padding: 50px;
    border-radius: 50%;
  }
.face {
  border: 2px solid blue;
  padding: 50px;
  border-radius: 50%;
}
.icon-wrapper h5 {
  color: black;

}
.icon-wrapper a {
  text-decoration: none;
  color: white;
}
=======

html,body {
    height: 100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Header */
a,a:hover {
    text-decoration: none;
}
.navbar {
    min-height: 70px;
}
#header a {
    color: #393f43;
    font-size: 20px;
    font-weight: bold;
}

.contact-section {
    margin-top: 70px ;
    padding: 70px 0 50px 0;
    background: #16A085;
    opacity: 0.87;
}


/*Footer*/
.register {
    width: 50%;
    margin: auto;
    text-align: right;
}
.q-form{
    width: 50%;
    margin:auto;
}
footer {
    text-align: center;
    clear: both;
    position: fixed;
    height: 90px;
    bottom:0;
    width: 100%;
}
footer .copyright-container, footer .back-to-top {
    display: inline-block;
}
footer .back-to-top a {
    color: #16A085;
    opacity: 0.87;
    margin-left: 10px;
}
footer .back-to-top a i {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
footer .back-to-top a i:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
>>>>>>> 960912a1b737a55da2fcf9f33fc7220faf2902c2
