.home {
    text-align: center;
    padding-top: 15px;
}
div.nav {
    text-align: center;
}
.row a {
    color: black;
}
header div.container {
  background-color: white;
  width: 100%;
}
div.image-slide {
  margin: auto;
}
.details {
  text-align: left;
}
section.container {
  width: 60%;
  margin-top: 50px;
}
div.input-group button {
  background: red;
  color: white;
  }
div.input-group input {
  padding: 5px;
}
section.tabs-container {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-left: 30px;
}
.nav-tabs > li > a {
  color: red;
}
.nav-tabs > li.active{
  color: red;
  background: lightblue;
  border-top: 3px solid red;
  border-radius: 5px;
}
table {
margin-top:20px;
  border:3px solid white;
  background: red;
  color: black;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 20px red;
}
table tr td {
  border: 3px solid white;
}
footer h4 {
  text-align: center;
}
footer {
bottom: 5px;
left: 25%;
right: 25%;
}
.footer-container {
  margin-top: 100px;
}
