<<<<<<< HEAD
.topbar {
    background: black;
    height: 90px;
    position: fixed;
    top: 0px;
    width: 100%;
}
.cont {
    width: 100px;
    height: auto;
    padding-left: 300px;
    position: absolute;
}
.cont a {
  text-decoration: none;
  color:white;
}
form h3 {
  padding-left: 50%;
}
nav {
    padding-top: 25px;
    padding-right: 200px;
    float: right;
    color: white;
}
nav a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.container {
    background: #39dc60;
    margin-top: 90px;
    width: auto;
}
.form-content {
    width: 50%;
    height: auto;
    margin: auto;


}
button:hover{
  background: white;
}
input:invalid {
  border: 2px solid red;
}
footer h1 {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 25%;
  right: 25%;
=======
.register-section {
    background: #16A085;
    opacity: 0.87;
}


.register {
    width: 50%;
    margin: auto;
    text-align: right;
}
.q-form{
    width: 50%;
    margin:auto;
>>>>>>> 960912a1b737a55da2fcf9f33fc7220faf2902c2
}
